* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 600px;
}

/* Header */

.header {
    color: #FFFFFF;
    text-align: center;
    padding: 36px 0;
    background-color: #393f4d;
}

/* Footer */

.footer {
    margin-top: auto;
    text-align: center;
    color: #FFFFFF;
    padding: 24px 0;
    background-color: #393f4d;
}

/* Main Div */ 

.main {
    flex: 1;
    display: flex;
}

/* Nav Bar */

.nav-bar {
    background-color: #ddd;
    width: 300px;
    min-width: 250px;

    padding: 24px;
}

.tab {
    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    gap: 8px;
}

.curr-tab {
    background-color: #ccc;
    font-weight: bold;
}

.project-header {
    margin-top: 36px;
    margin-bottom: 8px;
}

.tab:hover {
    background-color: #ccc;
}

/* Task Container */

.task-container {
    width: 900px;
    margin: 0 auto;
    padding: 24px 48px;
}

.task-container h2 {
    margin-bottom: 24px;
}

.task {
    padding: 12px;
    border-radius: 5px;
    display: flex;
    gap: 8px;
}

.task:hover {
    background-color: #ddd;
}

.checkbox {
    transform: scale(1.8);
    margin-right: 11px;
    accent-color: #393f4d;
}

.checkbox-label {
    margin-bottom: 12px;
}

.checkbox-label span {
    font-size: 18px;
}

input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    flex: 1;
    padding: 7px;
    font-size: 14px;
    min-width: 0;
}

input[type="text"]:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

input:focus {
	outline: none;
}

.close-icon {
    font-weight: bold;
    align-self: center;
    padding: 0 4px;
}